.gradient-bg,
.page-top-banner .overlay-bg,
.banner-section .overlay-bg,
.features-wrap .single-feature .overlay-bg {
    -webkit-linear-gradient: (0deg, #029CD9 0%, #494FA0 100%)!important;
}

.banner-section .overlay-bg{
    opacity: .6 !important;
}

.banner-section {
    background-color: #029CD9;
    background-image: url(../img/hoge.svg);
    background-size: cover;
    min-height: 950px;
}

 .gradient-bg, .page-top-banner .overlay-bg, .banner-section .overlay-bg, .features-wrap .single-feature .overlay-bg {
    background: -webkit-linear-gradient(0deg, rgb(2, 156, 217) 0%, rgb(73, 79, 160) 100%)!important;
}
.features-wrap .single-feature span {
  font-size: 35px;
  color: rgb(73, 79, 160);
  padding-bottom: 25px;
  display: inline-block;
}!important;
